body {
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
}

h3 {
  font-weight: 900;
}

hr {
  border-style: outset none none none;
  border-width: 1px;
  color: #dddddd;
}

.name {
  margin: 16px 4px 12px 0;
  display: inline-block;
}

.age {
  margin: 16px 0 12px 4px;
  display: inline-block;
  font-weight: 100;
}

.location {
  margin: 0 auto 25px auto;
  font-size: 16px;
}

.top-pattern {
  position: absolute;
  right: 1000px;
  bottom: 500px;
  z-index: 1;
}

.bottom-pattern {
  position: absolute;
  top: 500px;
  right: 1px;
}

.card {
  position: relative;
  margin: 250px auto 0 auto;
  text-align: center;
  background-image: url(images/bg-pattern-card.svg);
  border-radius: 10px;
  width: 360px;
}

.upper-card {
  height: 150px;
}

.lower-card {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.attribution {
  margin-top: 250px;
  margin-bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.victor {
  border: solid white 5px;
  border-radius: 100%;
  position: relative;
  top: 98px;
}

.followers {
  margin-right: 50px;
  display: inline-block;
}

.likes {
  margin-right: 40px;
  display: inline-block;
}

.photos {
  margin-left: 20px;
  display: inline-block;
}

.numbers {
  margin-bottom: 7px;
}

.label {
  margin-top: 7px;
  font-weight: lighter;
  font-size: 10px;
  letter-spacing: 0.1rem
}
